@import "tailwindcss";
@import "@fontsource/archivo";
@import "@fontsource/archivo/500.css";
@import "@fontsource/archivo/700.css";

body {
  background: #FDF7F8;
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  
}


/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap'); */