@import "tailwindcss";
@import "@fontsource/archivo";
@import "@fontsource/archivo/500.css";
@import "@fontsource/archivo/700.css";

body {
  background: #F9F9FE;
  margin: 0;
  padding: 0;
  font-family: "Archivo";
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  
}

.custom-dashed {
  border: 0;
  border-top: 2px dashed #d4d4d4;
  border-image: repeating-linear-gradient(
    to right,
    #d4d4d4 0,
    #d4d4d4 10px,
    transparent 10px,
    transparent 20px
    opacity(0.5)
  ) 1;
}

/* Scrollbar Hide */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE aur Edge */
  scrollbar-width: none;     /* Firefox */
}


@media screen and (max-width: 1789px) {
  .arrow-img {
    position: absolute !important;
    bottom: 30px;
  }
  .group-img {
    position: absolute;
    
  }
}


/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap'); */